

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('img/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: "Archivo", sans-serif;

}

p{
    font-size: 18px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Añadir esto para evitar el reflujo */
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #034183;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}


/* Estilos para el popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-content h2 {
    margin-bottom: 42px;
    margin-top: 0;
}

.popup-content button {
    padding: 14px 70px;
    border: none;
    border-radius: 5px;
    background-color: #1B1464;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.popup-content button:hover {
    background-color: #0056b3;
}
/* Estilos para los diferentes estados */
.status {
    cursor: pointer;
}

.pendiente {
    background-color: #f0ad4e;
    color: white;
}

.agendado {
    background-color: #5bc0de;
    color: white;
}

.notificado {
    background-color: #5cb85c;
    color: white;
}

.canjeado {
    background-color: #d9534f;
    color: white;
}


.popup-content img{
    margin: 20px 0px;
    width: 104px;
}

p{
    line-height:24px
}